
    body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        background-color: #f0f0f0;
    }
    
    .container {
        text-align: center;
        padding: 20px;
        border-radius: 10px;  /* Deixa os cantos arredondados */
        background-color: white;  /* Destaca o conteúdo */
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    #btnGerar {
        padding: 10px 20px;
        font-size: 18px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }
    
    #btnGerar:hover {
        background-color: #45a049;
    }
    
    #corFundo {
        width: 100px;
        height: 100px;
        margin-top: 20px;
        border: 1px solid #ccc;
        display: inline-block;
        transition: background-color 1s ease;    }

        #codigoCor {
            font-size: 20px;
            font-weight: bold;
            margin-top: 10px;
            color: #333;
        }

        #btnFavoritar {
            padding: 10px 20px;
            font-size: 18px;
            background-color: #FF9800;
            color: white;
            border: none;    cursor: pointer;    margin-top: 10px;
        }

        #btnFavoritar:hover {
            background-color: #E68900
        }

        #listaFavoritos {
            list-style: none;
            padding: 0;
            margin-top: 20px;
        }

        .favorito-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ddd;
            padding: 5px 10px;
            border-radius: 5px;
            margin-bottom: 5px;
        }
        
        .favorito-item span {
            font-weight: bold;
        }
        
        .favorito-item button {
            margin-left: 10px;
            padding: 5px;
            cursor: pointer;
            border: none;
            background-color: #f44336;
            color: white;
            border-radius: 3px;
        }
        
        .favorito-item button:hover {
            background-color: #d32f2f;
        }